#!/sbin/sh

case "$1" in 

'update')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/citation/update
	cd ${FEDORA_HOME}/server/utilities/sweep/output/citation/update
	fedora-search -q doType:UMD | sweep -a update -s citation &
	;;
'report')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/citation/report
        cd ${FEDORA_HOME}/server/utilities/sweep/output/citation/report
        fedora-search -q doType:UMD | sweep -a report -s citation &
        ;;
'force')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/citation/force
        cd ${FEDORA_HOME}/server/utilities/sweep/output/citation/force
        fedora-search -q doType:UMD | sweep -a force -s citation &
        ;;
'report-final')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/citation/report-final
        cd ${FEDORA_HOME}/server/utilities/sweep/output/citation/report-final
        fedora-search -q doType:UMD | sweep -a report-final -s citation &
        ;;
esac
