#!/sbin/sh

case "$1" in 

'update')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/update
	cp log4j.conf ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/update
	cd ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/update
	fedora-search -q doType:umd | sweep -a update -s adminint9 > /dev/null 2>&1 &
	;;
'report')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/report
	cp log4j.conf ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/report
        cd ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/report
        fedora-search -q doType:umd | sweep -a report -s adminint9 > /dev/null 2>&1 &
        ;;
'force')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/force
	cp log4j.conf ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/force
        cd ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/force
        fedora-search -q doType:umd | sweep -a force -s adminint9 > /dev/null 2>&1 &
        ;;
'report-final')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/report-final
	cp log4j.conf ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/report-final
        cd ${FEDORA_HOME}/server/utilities/sweep/output/adminint9/report-final
        fedora-search -q doType:umd | sweep -a report-final -s adminint9 > /dev/null 2>&1 &
        ;;
esac
