#!/sbin/sh

case "$1" in 

'update')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/update
	cp log4j.conf ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/update
	cd ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/update
	fedora-search -q isMemberOfCollection:umd\%2A1157 | sweep -a update -s adminint4 > /dev/null 2>&1 &
	;;
'report')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/report
	cp log4j.conf ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/report
        cd ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/report
        fedora-search -q isMemberOfCollection:umd\%2A1157 | sweep -a report -s adminint4 > /dev/null 2>&1 &
        ;;
'force')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/force
	cp log4j.conf ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/force
        cd ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/force
        fedora-search -q isMemberOfCollection:umd\%2A1157 | sweep -a force -s adminint4 > /dev/null 2>&1 &
        ;;
'report-final')
	mkdir -p ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/report-final
	cp log4j.conf ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/report-final
        cd ${FEDORA_HOME}/server/utilities/sweep/output/adminint4/report-final
        fedora-search -q isMemberOfCollection:umd\%2A1157 | sweep -a report-final -s adminint4 > /dev/null 2>&1 &
        ;;
esac
